/* *,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.react-modal-overlay{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
} */

.modal{
    position: fixed;
    top:0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_container{
    background-color: #fff;
    max-width: 600px;
    width: 100%;
    border-radius: 0.4rem;
    box-shadow: 0 1px 10px #999;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal_title{
    padding: 1rem;
}
.modal_content{
    flex: 1;
    padding: 1rem;
}

.modal_footer{
    padding: 1rem;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: flex-end;

}
.modal_close{
    position: absolute;
    font-size: 2rem;
    font-weight: bold;
    top:.2rem;
    right:1rem;
    cursor: pointer;
}