.footer2 {
  /* width: 100%; */
  height: 40px;
  background-color: black;
  justify-content: center;
  align-items: center;
}

h2 {
  color: #659640;
}

.Footer-link {
  display: flex;
}

a {
  font-size: 20px;
  padding: 20px;
}

.footer1 {
  background-color: rgb(65, 56, 56);
  /* width: 100%; */
}
